body{
  margin: 0;
  font-family: "Poppins";
}
.main{
  display: flex;
  flex-direction: column;
}
.main #first, #about, #project{
  min-height: 100vh;

}
#footer{
  width: 100%;
  background-color: whitesmoke;
  margin-top: 2em;
}
.project-card-box{
  box-shadow: 6px 10px 6px #8888888c;
}